// Заголовки, общие БЄМ блоки и проче...

.wrapper {
	&_header-bg-black {
		.header {
			background-color: $SemiBlack;
		}
	}
}
.button {
	display: inline-block;
	padding: 14px 24.9px;
	background-color: $Orange;
	font-weight: 700;
	font-size: rem(12);
	line-height: math.div(16, 12);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $White;
	text-align: center;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&_form-black {
		min-width: rem(152);
		min-height: rem(40);
		background-color: $HardBlack;
		color: #fff;
		border: 2px solid $HardBlack;
		.safety & {
			padding: 12px 24.9px;
			min-height: rem(37);
			min-width: rem(160);
			@media (max-width: $mobileSmall) {
				width: 100%;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: $Orange;
			background-color: $White;
			.header & {
				box-shadow: inset 2px 2px 0 $Orange, inset -2px -2px 0 $Orange;
			}
		}
		&_form-black {
			&:hover {
				background-color: transparent;
				color: $HardBlack;
			}
		}
	}
	&_black {
		color: $White;
		background-color: $HardBlack;
		@media (any-hover: hover) {
			&:hover {
				color: $HardBlack;
				background-color: $White;
				box-shadow: inset 2px 2px 0 $HardBlack, inset -2px -2px 0 $HardBlack;
			}
		}
	}
}
.page {
	// .page__about
	&__about {
	}
	// .page__control
	&__controll {
		&.builders-about {
			padding: 0;
		}
	}
}
.heading-block {
	display: flex;
	align-items: flex-end;
	min-height: rem(280);
	position: relative;
	padding: rem(92) 0 rem(60);
	.project-single & {
		@include adaptiveValue("min-height", 700, 560);
		@include adaptiveValue("padding-bottom", 110, 45);
	}
	// .heading-block__picture-ibg
	&__picture-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 1;
			.project-single & {
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
	}
	// .heading-block__container"
	&__container {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding-right: 20px;
		}
		@include adaptiveValue("padding-left", 170, 20, 1200, 992, 1);
	}
	// .heading-block__heading
	&__heading {
		font-size: rem(30);
		text-transform: uppercase;
		letter-spacing: -0.04em;
		color: #fff;
		span {
			display: block;
			font-size: rem(60);
			font-weight: 700;
			letter-spacing: -0.01em;
			margin-top: -6px;
			.project-single & {
				@include adaptiveValue("font-size", 80, 40);
				text-transform: none;
				@media (max-width: $mobile) {
					line-height: math.div(53, 40);
				}
			}
		}
		p {
			font-family: $secondFont;
			font-size: rem(18);
			line-height: math.div(25, 18);
			text-transform: none;
			&:not(:first-child) {
				@include adaptiveValue("margin-top", 20, 10);
			}
			@media (max-width: $mobile) {
				&:not(:last-child) {
					margin-top: rem(10);
				}
			}
		}
	}
	@media (max-width: $mobile) {
		min-height: rem(320);
		padding: rem(72) 0 rem(70);
	}
}
.nav-block {
	display: flex;
	@include adaptiveValue("column-gap", 55, 30, 1240, 991.98, 1);
	justify-content: space-between;
	overflow-x: auto;
	white-space: nowrap;
	padding: rem(40) 0 rem(6);
	// .nav-block__list
	&__list {
		display: flex;
		row-gap: rem(15);
		@include adaptiveValue("column-gap", 55, 30, 1240, 767.98, 1);
		li a {
			outline: none;
			font-family: $secondFont;
			color: rgba(0, 0, 0, 0.4);
			letter-spacing: 0.01em;
			transition: color 0.3s ease 0s;
			.page_projects & {
				position: relative;
				padding-bottom: rem(3);
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 1px;
					background-color: $Orange;
					transition: width 0.3s ease 0s;
				}
			}
			.page_projects & {
				&.active {
					color: $Orange;
					&::before {
						width: 100%;
					}
				}
			}
			&:hover {
				color: #f9601f;
			}
		}
	}
	// .nav-block__item
	&__item {
	}
	// .nav-block__link
	&__link {
	}
	// .nav-block__open-form
	&__open-form {
		outline: none;
		position: relative;
		font-size: rem(12);
		font-weight: 500;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $HardBlack;
		padding-bottom: rem(6);
		transition: color 0.3s ease 0s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 1px;
		}
		&::before {
			width: 100%;
			background-color: $HardBlack;
		}
		&::after {
			transition: width 0.3s ease 0s;
			width: 0;
			background-color: $Orange;
		}
		@media (any-hover: hover) {
			&:focus,
			&:hover {
				color: $Orange;
				&::after {
					width: 100%;
				}
			}
		}
	}
}
.pagination-fraction {
	font-family: $secondFont;
	color: #0d0d0d;
	font-size: rem(12);
}
.arrows-sliders {
	cursor: pointer;
	font-size: rem(30);
	transition: opacity 0.3s ease 0s, font-size 0.2s ease 0s;
	&.swiper-button-disabled {
		opacity: 0.2;
	}
	@media (any-hover: hover) {
		&:hover {
			font-size: rem(34);
		}
	}
}
.hide-filter {
	visibility: hidden;
	width: 0;
	height: 0;
	max-width: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}
.h1,
.h2,
.h3,
.h4,
.h5 {
	color: $HardBlack;
}
.h1 {
	@include adaptiveValue("font-size", 110, 32);
	font-weight: 700;
	letter-spacing: -0.01em;
	text-transform: uppercase;
}
.h2 {
	font-size: rem(80);
	font-weight: 300;
	letter-spacing: -0.04em;
	text-transform: uppercase;
}
.h3 {
	@include adaptiveValue("font-size", 80, 40);
	@include adaptiveValue("line-height", 80, 60);
	font-weight: 500;
	letter-spacing: -0.01em;
}
.h4 {
	&_color-opacity {
		color: rgba(0, 0, 0, 0.4);
	}
	font-size: rem(40);
	line-height: math.div(53, 40);
	font-weight: 500;
	letter-spacing: -0.01em;
}
.h5 {
	&_color-semiblack {
		color: $SemiBlack;
	}
	font-size: rem(18);
	font-weight: 500;
	letter-spacing: -0.01em;
}
.text-1,
.text-2,
.text-3,
.text-4,
.text-5 {
	font-family: $secondFont;
	color: $HardBlack;
	&_color-semiblack {
		color: $SemiBlack;
	}
}
.text-1 {
	@include adaptiveValue("font-size", 40, 18);
	@include adaptiveValue("line-height", 40, 25);
	letter-spacing: -0.01em;
}
.text-2 {
	@include adaptiveValue("font-size", 30, 18);
	line-height: 1.5;
	a {
		@extend %psevdo;
	}
}
.text-3 {
	font-size: rem(18);
	line-height: 1.4;
}
.text-4 {
	line-height: 1.5;
}
.text-5 {
	font-size: rem(12);
}
