//=======================================================================Main Slider===========================================================

.main-slides {
	position: relative;
	height: 100vh;
	// .main-slides__slider
	&__slider {
			width: 100%;
			height: 100%;
		}
		// .main-slides__wrapper
		&__wrapper {
		}
		// .main-slides__slide
		&__slide {
			height: 100%;
		}
		// .main-slides__body
		&__body {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		// .main-slides__image
		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(.6);
		}
		// .main-slides__container
		&__container {
			// width: 100%;
		}
		// .main-slides__content
		&__content {
			position: fixed;
			top: percent(407,701);
			width: 100%;
		}
		// .main-slides__title
		&__title {
			color: $White;
			font-family: $secondFont;
			@include adaptiveValue("font-size", 45, 40);
			line-height: math.div(53 , 45);
			letter-spacing: -.01em;
			@include adaptiveValue("margin-bottom", 14, 19);
		}
		// .main-slides__project-link
		&__project-link {
			position: relative;
			color: $White;
			@include adaptiveValue("font-size", 14, 16);
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			transition: color 0.3s ease 0s;
			&::before{
				content:'';
				position: absolute;
				bottom: -5.5px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $White;
			}
			&::after{
				content:'';
				position: absolute;
				bottom: -5.5px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $Orange;
				transition: width 0.3s ease 0s;
			}
			@media (any-hover: hover){
				&:hover{
					color: $Orange;
					&::after{
						width: 100%;
					}
				}
			}
		}
}

.controll {
	// .controll__body
	&__body {
			position: absolute;
			top: percent(535,701);
			width: 100%;
		}
		// .controll__fractions
		&__fractions {
			display: flex;
			justify-content: space-between;
			max-width: 45px;
			color: $White;
			font-size: rem(12);
			line-height: math.div(18 , 12);
			text-transform: uppercase;
			opacity: 0.5;
			margin: 0px 0px 9px 7.5px;
		}
		// .controll__fraction-curent
		&__fraction-curent {
		}
		// .controll__fraction-all
		&__fraction-all {
		}
		// .controll__buttons
		&__buttons {
			display: flex;
			column-gap: 20px;
			color: $White;
			font-size: rem(14);
		}
		// .controll__prev
		// .controll__next
		&__prev,
		&__next {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			border-radius: 50px;
			border: 1px solid rgba($color: $Gray, $alpha: .5);
			cursor: pointer;
			transition: background-color 0.3s ease 0s,
			border-color 0.3s ease 0s;
			@media (any-hover: hover){
				&:hover{
					background-color: rgba($color: $Gray, $alpha: .3);
					border-color: transparent;
				}
			}
		}
		// .controll__prev
		&__prev {
		}
		// .controll__next
		&__next {
			transform: rotate(180deg);
		}
}

//=======================================================================Introduction section=================================================================================
.introduction {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	&__body{
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background-color: #fff;
	}
	&__title {
		
	}
	svg {
		background-color: rgba(0, 0, 0, 0);
		max-width: rem(1200);
	}
	svg .introduction__svg-path {
		fill: #fff;
	}
	svg g {
		fill: transparent;
	}
	svg rect {
		fill: rgba(0, 0, 0, 1);
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		background-color: transparent;
	}
	// .introduction__description
	&__description {
		position: relative;
		color: $SemiBlack;
		font-family: $secondFont;
		line-height: math.div(21 , 14);
		max-width: 450px;
		// @include adaptiveValue("margin-top", 200, 100);
		@include adaptiveValue("margin-bottom", 60, 50);
		z-index: 10;
	}
	// .introduction__btn-box
	&__btn-box {
		position: relative;
	}
	// .introduction__video
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		z-index: -1;
	}
}
	//===================================================================Promo Video=====================================================================================
.video {

		// .video__wrapper
		&__wrapper {
			width: 100%;
			height: 100vh;
		}

		// .video__first
		&__first,
		&__second,
		&__third,
		&__fourth {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
//========================================================================Promice Section================================================================================
.promise {
		// .promise__wrapper
		&__wrapper {
			background-color: #0D0D0D;
			width: 100%;
			display: flex;
			align-items: center;
		}
		// .promise__container
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		// .promise__fist-box
		&__first-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex: 0 1 50%;
			padding: 0px 20px 0px 0px;
		}
		// .promise__title
		&__title {
			color: $White;
			font-family: $secondFont;
			font-weight: 700;
			@include adaptiveValue("font-size", 100, 67);
			letter-spacing: em(-0.02);
			text-transform: uppercase;
			@include adaptiveValue("margin-bottom", 104.5, 60, 1200, 768, 1);
		}
		// .promise__button
		&__button {
			position: relative;
			display: inline-flex;
			align-items: center;
			flex-direction: row-reverse;
			font-family: $secondFont;
			color: $White;
			font-weight: 700;
			line-height: math.div(16 , 14);
			text-transform: uppercase;
			&._icon-arrow {
				&::after{
					content:'';
					position: absolute;
					right: -10px;
					width: 60px;
					height: 60px;
					background-color: $Orange;
					border-radius: 50px;
					opacity: 0;
					transition: opacity 0.5s ease 0s;
				}
				&::before{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $White;
					width: 40px;
					height: 40px;
					background-color: $Orange;
					border-radius: 50px;
					margin: 0px 0px 0px 50px;
					transform: rotate(180deg);
					z-index: 1;
				}
			}
			@media (any-hover: hover){
				&:hover{
					&._icon-arrow {
						&::after {
							opacity: .3;
						}
					}
				}
			}
		}
		// .promise__second-box
		&__second-box {
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $White;
			font-family: $secondFont;
			@include adaptiveValue("font-size", 30, 25);
			@media (max-width: em(857)){
				flex: none;
				margin: 0px 0px 60px 0px;
			}
		}
		// .promise__pragraph
		&__pragraph {
			position: relative;
			max-width: 440px;
			padding: 0px 0px 0px 16px;
			&:not(:last-child) {
				margin: 0px 0px 53.5px 0px;
			}
			@media (max-width: em(857)){
				padding: 0;
			}
		}
		// .promise__sequence
		&__sequence {
			position: absolute;
			top: -6px;
			left: 0;
			font-size: rem(12);
			opacity: 0.6;
			@media (max-width: em(857)){
				top: -12px;
			}
		}
}
//========================================================================Advantages================================================================================
.advantages {
		// .advantages__wrapper
		&__wrapper {
			position: relative;
		}
		// .advantages__bg
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(.6);
		}
		// .advantages__container
		&__container {
			position: relative;
			min-height: 100vh;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media (max-width:$mobile){
				justify-content: space-evenly;
			}
		}
		// .advantages__body
		&__body {
			padding: 30px 0px;

		}
		// .advantages__box
		&__box {
			position: relative;
			width: percent(584,1200);
			margin: 0px 0px 0px auto;
			&:not(:last-child) {
				margin-bottom: 60px;
			}
			@media (max-width:$mobile){
				margin-left: 0;
				width: 61%;
			}
			&:nth-child(2){
				@media (max-width:$mobile){
					align-self: flex-end;
				}
			}
			&:last-child{
				@media (max-width:$mobile){
					align-self: flex-end;
					width: 65%;
				}
			}
		}
		&__description {
			color: $White;
			font-family: $secondFont;
			@include adaptiveValue("font-size", 38, 23);
			line-height: math.div(48 , 40);
			letter-spacing: em(-0.01);
			opacity: 0.8;
		}
		// .advantages__picture
		&__picture {
			position: absolute;
			@include adaptiveValue("top", 20, 17, 1200, 768, 1);
			left: -170px;
			top: 0px;
			// .advantages__picture_small
			&_small {
				@media (max-width:$mobile){
					left: 2px;
					top: 55px;
				}
			}
			// .advantages__picture_medium
			&_medium {
				left: -235px;
				@media (max-width:$mobile){
					top: 30px;
					left: -2%;
					transform: scaleX(-1);
				}
			}
			// .advantages__picture_large
			&_large {
				left: -322px;
				@media (max-width:$mobile){
					left: -100px;
					top: -70px;
				}
			}
		}

		// .advantages__picture-desktop
		&__picture-desktop {}

		// .advantages__picture-mobile
		&__picture-mobile {}
		// .advantages__description
}
//========================================================================Team Section================================================================================
.team {
		// .team_bg
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(.5);
		}
		// .team__wrapper
		&__wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		// .team__container
		&__container {
			width: 100%;
			height: 100%;
		}
		// .team__body
		&__body {
			position: relative;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 30px 0px;
		}
		// .team__content
		&__content {
			color: $White;
			max-width: 600px;
			@include adaptiveValue("font-size", 46, 21);
			line-height: math.div(51 , 46);
			letter-spacing: em(-0.01);
			opacity: 0.8;
			margin: 200px 0px 0px 0px;
		}
}
//=====================================================================Pagination Main===================================================================================
.pagination-main { 
	position: fixed;
	right: calc(percent(360,1920) - 20px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 55;
	height: 100vh;
	@media (max-width: em(825)){
		display: none;
	}
	// .pagination__container
	&__container {
		flex: 1 1 100%;
	}
	// .pagination__body
	&__body {
		width: 22px;
		height: percent(333,700);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: auto;
	}
	// .pagination__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	// pagination__button
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 21.5px;
		height: 21.5px;
		border-radius: 50px;
		border: solid .5px transparent;
		transition: border-color 0.5s ease 0s;
		&::before{
			content:'';
			width: 8px;
			height: 8px;
			border-radius: 50px;
			background-color: rgb(192, 192, 192);
		}
		@media (any-hover: hover){
			&:hover{
				border-color: $Orange;
			}
		}
		&._navigator-active {
			border-color: $Orange;
			&::before{
				background-color: $Orange;
			}
		}
	}
}
