.safety {
	// .safety__heading
	&__heading {
	}
	// .safety__about
	&__about {
		@include adaptiveValue("margin-bottom", 140, 60);
	}
	// .safety__insurance
	&__insurance {
		@include adaptiveValue("margin-bottom", 140, 60);
	}
	// .safety__certificates
	&__certificates {
		@include adaptiveValue("margin-bottom", 140, 80);
	}
	// .safety__info
	&__info {
	}
	// .safety__schedule
	&__schedule {
	}
}
.about-safety {
	background-color: $Gray;
	@include adaptiveValue("padding-top", 120, 60);
	@include adaptiveValue("padding-bottom", 120, 45);
	// .about-safety__container
	&__container {
	}
	// .about-safety__info-text
	&__info-text {
		@media (min-width: em(899.98)) {
			max-width: rem(900);
			margin: 0px auto;
		}
		@include adaptiveValue("margin-bottom", 100, 48);
	}
	// .about-safety__row
	&__row {
		@media (min-width: $pc) {
			gap: rem(60);
		}
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $pc) and (min-width: $tablet) {
			gap: rem(40);
		}
		@media (max-width: $tablet) and (min-width: $mobile) {
			gap: rem(50) rem(30);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .about-safety__column
	&__column {
		font-family: $secondFont;
		color: $HardBlack;
		line-height: 1.5;
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
		}
	}
	// .about-safety__image-ibg
	&__image-ibg {
		padding-bottom: percent(240, 360);
		margin-bottom: rem(30);
	}
	// .about-safety__title
	&__title {
		font-size: rem(18);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .about-safety__text
	&__text {
	}
}
//========================================================================================================================================================
.insurance-safety {
	// .insurance-safety__container
	&__container {
		@media (min-width: $pc) {
			section.insurance-safety & {
				max-width: rem(1320);
			}
		}
	}
	// .insurance-safety__heading
	&__heading {
		@media (min-width: em(899.98)) {
			max-width: rem(900);
			margin: 0px auto;
		}
		@include adaptiveValue("margin-bottom", 140, 60);
	}
	// .insurance-safety__block-slider
	&__block-slider {
		position: relative;
		@media (min-width: $tablet) {
			padding: 0 rem(60);
		}
	}
	// .insurance-safety__slider
	&__slider {
	}
	// .insurance-safety__pagination
	&__pagination {
		font-size: rem(30);
		font-weight: 500;
		letter-spacing: -0.02em;
		color: rgba(0, 0, 0, 0.4);
		display: flex;
		justify-content: flex-end;
		.swiper-pagination-current {
			color: rgba(0, 0, 0, 1);
		}
		.swiper-pagination-total {
			font-size: rem(14);
			align-self: flex-end;
		}
		@media (min-width: $mobile) {
			padding-top: rem(20);
			.swiper-pagination-current {
				transform: translateY(-11px);
			}
		}
		@media (max-width: $tablet) {
			padding-top: rem(10);
		}
	}
	// .insurance-safety__arrow
	&__arrow {
		@media (min-width: $tablet) {
			position: absolute;
			top: 50%;
			// .insurance-safety__arrow_prev
			&_prev {
				left: 0;
				transform: translate(0%, calc(-50% - 11px));
			}
			// .insurance-safety__arrow_next
			&_next {
				right: 0;
				transform: translate(0%, calc(-50% - 11px)) rotate(-180deg);
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
.heading-block-titles {
	// .heading-block__title
	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
		.press & {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .heading-block__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .heading-block__small-text
	&__small-text {
	}
}
.slide-insurance {
	width: 100%;
	// .slide-insurance__image-ibg
	&__image-ibg {
		@media (min-width: $mobileSmall) {
			padding-bottom: percent(600, 1200);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: percent(400, 320);
		}
	}
}
//========================================================================================================================================================
.certificates-safety {
	// .certificates-safety__container
	&__container {
		@media (min-width: em(899.98)) {
			section.certificates-safety & {
				max-width: rem(900);
				margin: 0px auto;
			}
		}
	}
	// .certificates-safety__heading
	&__heading {
		@include adaptiveValue("margin-bottom", 70, 80);
	}
	// .certificates-safety__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, minmax(rem(80), rem(150)));
		justify-content: space-between;
		gap: rem(40);
	}
	// .certificates-safety__item
	&__item {
	}
	// .certificates-safety__image
	&__image {
		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================
.info-safety {
	background-color: $Gray;
	min-height: rem(600);
	padding: rem(50) 0;
	display: flex;
	align-items: center;
	// .info-safety__container
	&__container {
		flex: 1 1 auto;
		position: relative;
		&::before {
			content: "";
			background: url("@img/safety/decor-info-block.svg") center / cover no-repeat;
			width: rem(100);
			@media (min-width: $mobile) {
				height: calc(100% + rem(50));
			}
			position: absolute;
			left: 0;
			bottom: rem(-10);
			@media (max-width: $mobile) {
				height: calc(100% + rem(30));
			}
		}
	}
	// .info-safety__heading
	&__heading {
		@media (min-width: em(899.98)) {
			max-width: rem(900);
			margin: 0px auto;
		}
	}
}
//========================================================================================================================================================
.schedule-safety {
	background-color: $LightGray;
	@include adaptiveValue("padding-top", 127, 80);
	@include adaptiveValue("padding-bottom", 113, 70);
	// .schedule-safety__container
	&__container {
	}
	// .schedule-safety__row
	&__row {
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: rem(40);
		}
	}
	// .schedule-safety__column
	&__column {
		@media (min-width: $mobile) {
			@include adaptiveValue("padding-left", 130, 20, 1200, 991.98, 1);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(60);
			}
		}
	}
	// .schedule-safety__text
	&__text {
		font-family: $secondFont;
		color: $HardBlack;
		@include adaptiveValue("font-size", 28, 18);
		line-height: 1.5;
		@media (max-width: $mobile) {
			line-height: 1.4;
		}
	}
	// .schedule-safety__form
	&__form {
	}
}
